/* Monsertar */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --color-pokemon1-banner: #ffe554;
    --color-pokemon2-banner: #ff9e54;
    --color-pokemon3-banner:#7ac3f8;
    --color-pokemon4-banner: #b9ff97;
    --white-complement: #ffff;
    --black-complement: #000000;
    --color-pokemon2-slider:#0283b6be;

    /* Colors type */
    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;

}
html{
    scroll-behavior: smooth;
}
header,.container-banner,.container-popular,.container-all-pokemons,.container-navegation,.container-all-pokemons .card-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    background-color: #f0e9f0;
}
header{
    position: relative;
    z-index: 1000;
    background-color: black;
}
.container-banner{
    padding: 20px 0;
}
.container-banner .tittle-banner{
    width: 100%;
    font-size: 7vw;
    text-transform: capitalize;
    text-align: center;
    color: var(--white-complement);
    padding: 10px;
}
.container-banner .tittle-banner span{
    color: rgb(255, 229, 84);
    animation-name: text-colors;
}
.container-btn-banner,.container-loader{
    width: 100%;
    height: auto;
    display: flex;
}
.container-loader img{
    margin: auto;
}
.container-btn-banner .btn-poke{
    width: 30%;
    height: auto;
    cursor: pointer;
    margin: 10px auto;
    padding: 10px 5px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color-pokemon1-banner);
    box-shadow: 2px 3px 2px var(--white-complement);
    animation-name:banner-colors;
}
.container-btn-banner .btn-poke a{
    text-decoration: none;
    color: var(--black-complement);
}

.container-btn-banner .btn-poke:hover{
    transition: .5s;
    box-shadow: -2px 3px 0px var(--white-complement);
}
.container-banner-pokemon{
    width: 100%;
    height: 50vh;

    background-image:url("../IMG/banner-img1.png");
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--color-pokemon1-banner);
    padding: 20px;
    margin-top: 20px;
    border-radius: 50% 50% 0 0;
    animation-name: banner-img ,banner-colors;
}
/* DISEÑO ESTADAR ANIMACION BANNER */
.animation{
    transition: all 1s linear;
    animation-duration:28s;
    animation-iteration-count: infinite;
    animation-timeline: linear;
}
.container-popular h2{
    width: 100%;
    height: auto;
    padding: 20px 0;
    text-align: center;
    font-size: 7vw;
    text-transform: capitalize;
}
.container-popular h2 span{
    font-weight: lighter;
}
.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    list-style: none;
}
.container-btn{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.btn-pokemon,.btn-pagination{
    padding:10px;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: .2s;
    outline: none;
    border: none;
}
.btn-pagination{
    background-color: var(--color-pokemon2-slider);
    color: var(--white-complement);
    border-radius: 5px;
    margin: 20px;
}
.normal {
    background-color: var(--type-normal);
    color: var(--black-complement);
}

.fire {
    background-color: var(--type-fire);
    color: var(--black-complement);
}

.water {
    background-color: var(--type-water);
    color: var(--white-complement);
}

.grass {
    background-color: var(--type-grass);
    color: var(--black-complement);
}

.electric {
    background-color: var(--type-electric);
    color: var(--black-complement);
}

.ice {
    background-color: var(--type-ice);
    color: var(--black-complement);
}

.fighting {
    background-color: var(--type-fighting);
    color: var(--white-complement);
}

.poison {
    background-color: var(--type-poison);
    color: var(--white-complement);
}

.ground {
    background-color: var(--type-ground);
    color: var(--black-complement);
}

.flying {
    background-color: var(--type-flying);
    color: var(--black-complement);
}

.psychic {
    background-color: var(--type-psychic);
    color: var(--black-complement);
}

.bug {
    background-color: var(--type-bug);
    color: var(--black-complement);
}

.rock {
    background-color: var(--type-rock);
    color: var(--black-complement);
}

.ghost {
    background-color: var(--type-ghost);
    color: var(--white-complement);
}

.dark {
    background-color: var(--type-dark);
    color: var(--white-complement);
}

.dragon {
    background-color: var(--type-dragon);
    color: var(--white-complement);
}

.steel {
    background-color: var(--type-steel);
    color: var(--black-complement);
}

.fairy {
    background-color: var(--type-fairy);
    color: var(--black-complement);
}
.btn-pokemon:hover,.btn-pagination:hover {
    transform: scale(1.1);
    box-shadow: 2px 3px 0px #00000078;
}
.container-navegation{
    margin-top: 100px;
}
.poke-card{
    width: 65%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: var(--white-complement);
    box-shadow: 3px 3px 3px #0000009f;
}
.poke-name{
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.type-container{
    width: 100%;
    display: flex;
    text-align: center;
    text-transform: capitalize;
    margin:10px;
}
.type-container p{
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}

.img-container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.img-container img{
    width:90%;
    height: auto;
    margin: auto;
    border-radius: 50%;
}
.stats-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.stats-container p{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--black-complement);
    font-weight: bold;
    text-transform: capitalize;
}
form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
}
.search{
    width:50%;
    padding: 8px 15px;
    border-radius: 15px;
    outline: none;
    margin: auto;
    border: 1px solid var(--black-complement);
}
.bxs-chevron-up-circle{
    visibility: hidden;
    font-size: 4em;
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    color: #d6bb43;
}
/* LOADER */
.container-overlay{
    display: none;
    width: 100%;
    height: 100%;
    isolation: isolate;
}
.blocked-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(133, 161, 177, 0.482);
    z-index: 500;
}
.container-gif-overlay{
    width: 100%;
    height: auto;
    margin: 0px auto;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-gif-overlay div{
    width: 100%;
    margin: 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-gif-overlay div img{
    width: 80%;
}

@media screen and (min-width:700px){
    .container-banner-pokemon{
        background-size: 40%;
    }
    .container-btn-banner .btn-poke{
        width: 20%;
    }
    .poke-card{
        width: 30%;
    }
    
}
@media screen and (min-width:900px){
    header{
        flex-wrap: nowrap;
    }
    .container-banner-pokemon{
        background-size: 40%;
        flex-wrap: wrap;
    }
    .container-banner{
        width: 50%;
        font-size: 4vw;
        padding: 20px  0;
    }
    .container-banner .tittle-banner{
        width: 100%;
        font-size: 3vw;
    }
    .container-banner-pokemon{
        width: 50%;
        height: 60vh;
        background-image:url("../IMG/banner-img1.png");
        background-size: 55%;
    }
    .container-btn-banner .btn-poke{
        width: 30%;
        font-size: 1.5vw;
    }
    .container-popular h2{
        font-size: 3.5vw;
    }
    .card-container{
        flex-wrap: nowrap;
    }
    .poke-card{
        width: 20%;
    }
    .poke-card img{
        width: 70%;
    }
    .search{
        width:35%;
    }
    .container-gif-overlay div img{
        width: 30%;
    }
}
/* ANIMACION BANNER IMG */
@keyframes banner-img{
    0%{
        background-image:url("../IMG/banner-img1.png");
    }
    25%{
        background-image:url("../IMG/banner-img1.png");
    }
    26%{
        background-image:url("../IMG/banner-img2.png");
    }
    50%{
        background-image:url("../IMG/banner-img2.png");
    }
    51%{
        background-image:url("../IMG/banner-img3.png");
    }
    75%{
        background-image:url("../IMG/banner-img3.png");
    }
    76%{
        background-image:url("../IMG/banner-img4.png");
    }
    100%{
        background-image:url("../IMG/banner-img4.png");
    }
}
@keyframes banner-colors{
    0%{
        background-color: var(--color-pokemon1-banner)
    }
    25%{
        background-color: var(--color-pokemon1-banner)
    }
    26%{
        background-color: var(--color-pokemon2-banner);
    }
    50%{
        background-color: var(--color-pokemon2-banner);
    }
    51%{
        background-color: var(--color-pokemon3-banner);
    }
    75%{
        background-color: var(--color-pokemon3-banner);
    }
    76%{
        background-color: var(--color-pokemon4-banner);
    }
    100%{
        background-color: var(--color-pokemon4-banner);
    }
}
@keyframes text-colors{
    0%{
        color: var(--color-pokemon1-banner)
    }
    25%{
        color: var(--color-pokemon1-banner)
    }
    26%{
        color: var(--color-pokemon2-banner);
    }
    50%{
        color: var(--color-pokemon2-banner);
    }
    51%{
        color: var(--color-pokemon3-banner);
    }
    75%{
        color: var(--color-pokemon3-banner);
    }
    76%{
        color: var(--color-pokemon4-banner);
    }
    100%{
        color: var(--color-pokemon4-banner);
    }
}